In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../cleaned_data_040321.csv')

In [4]:
df[['Dem_age']].describe()

            Dem_age
count  85489.000000
mean      38.885225
std       13.762688
min       18.000000
25%       28.000000
50%       37.000000
75%       48.000000
max      110.000000

In [27]:
df['Dem_age'].mode()[0]

30

In [6]:
df[['Dem_age']].count()

Dem_age    85489
dtype: int64

In [7]:
df[['Dem_age']].min()

Dem_age    18
dtype: int64

In [10]:
df[['Dem_age']].median()

Dem_age    37.0
dtype: float64

In [26]:
df[['Dem_age']].mean()[0]

38.88522499970757

In [32]:
d = {'Summary':['Mean','Median','Mode','Min','Max'],'Value':[df[['Dem_age']].mean()[0].round(2), df[['Dem_age']].median()[0], df['Dem_age'].mode()[0], df[['Dem_age']].min()[0], df[['Dem_age']].max()[0]]}
pd.DataFrame(data=d)

  Summary   Value
0    Mean   38.89
1  Median   37.00
2    Mode   30.00
3     Min   18.00
4     Max  110.00

In [21]:
len(range(18,115))

97

In [36]:
df.Dem_age.value_counts()

30     2579
27     2500
29     2493
25     2428
28     2420
       ...
88        3
110       2
87        2
91        1
92        1
Name: Dem_age, Length: 75, dtype: int64