In [1]:
import pandas as pd
from joblib import load

In [2]:
df = pd.read_csv('../raw_data/cleaned_data_040321.csv',index_col=0)

In [3]:
df_predict = pd.DataFrame(
        columns=[
            'BFF_15_1','BFF_15_2', 'BFF_15_3', 'BFF_15_4', 'BFF_15_5', 'BFF_15_6',
            'BFF_15_7', 'BFF_15_8','BFF_15_9', 'BFF_15_10', 'BFF_15_11', 'BFF_15_12',
            'BFF_15_13', 'BFF_15_14', 'BFF_15_15'
        ],
        data=[[
            2,3,2,3,4,5,3,3,4,5,4,6,2,3,4
        ]]
    )
df_predict

,BFF_15_1,BFF_15_2,BFF_15_3,BFF_15_4,BFF_15_5,BFF_15_6,BFF_15_7,BFF_15_8,BFF_15_9,BFF_15_10,BFF_15_11,BFF_15_12,BFF_15_13,BFF_15_14,BFF_15_15
0,2,3,2,3,4,5,3,3,4,5,4,6,2,3,4

In [9]:
knn = load('../models/knn.joblib')
y_pred_log = knn.predict(df_predict)
y_pred_log

array([[3.44444442, 3.28888889, 3.53333331, 3.86666669, 3.37777778]])

In [43]:
# y_pred = y_pred_log[0]
prediction = pd.DataFrame(y_pred_log)

In [44]:
prediction

          0         1         2         3         4
0  3.444444  3.288889  3.533333  3.866667  3.377778

In [45]:
prediction.values[0]

array([3.44444442, 3.28888889, 3.53333331, 3.86666669, 3.37777778])

In [46]:
prediction.columns = ['neu', 'ext', 'ope', 'agr', 'con']

In [47]:
prediction.T.reset_index()

  index         0
0   neu  3.444444
1   ext  3.288889
2   ope  3.533333
3   agr  3.866667
4   con  3.377778

In [48]:
prediction_table = prediction.T.reset_index()
prediction_table.columns=['Trait','Score']
prediction_table

  Trait     Score
0   neu  3.444444
1   ext  3.288889
2   ope  3.533333
3   agr  3.866667
4   con  3.377778

In [49]:
prediction_table.Trait = ['Neuroticism','Openness', 'Extraversion', 'Agreeableness', 'Conscientiousness']

In [50]:
prediction_table

               Trait     Score
0        Neuroticism  3.444444
1           Openness  3.288889
2       Extraversion  3.533333
3      Agreeableness  3.866667
4  Conscientiousness  3.377778

In [51]:
prediction_table.to_dict('records')

[{'Trait': 'Neuroticism', 'Score': 3.444444422222221},
 {'Trait': 'Openness', 'Score': 3.2888888888888905},
 {'Trait': 'Extraversion', 'Score': 3.5333333111111096},
 {'Trait': 'Agreeableness', 'Score': 3.8666666888888908},
 {'Trait': 'Conscientiousness', 'Score': 3.3777777777777773}]