In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../cleaned_data_040321.csv')

In [62]:
df_employment = df[['Dem_employment']].copy()
df_employment = pd.DataFrame(
    (df['Dem_employment'].value_counts(normalize=True).round(3))).reset_index()
df_employment.columns = ['Empl. Status', '%']
df_employment

         Empl. Status      %
0  Full time employed  0.479
1             Student  0.166
2       Self-employed  0.105
3  Part time employed  0.093
4        Not employed  0.087
5             Retired  0.070

In [63]:
df_employment['%'] = (df_employment['%'] / df_employment['%'].sum()) * 100
df_employment

         Empl. Status     %
0  Full time employed  47.9
1             Student  16.6
2       Self-employed  10.5
3  Part time employed   9.3
4        Not employed   8.7
5             Retired   7.0

In [46]:
df_employment['%']=pd.Series(["{0:.2f}".format(val * 100) for val in df_employment['%']], index = df_employment.index)

In [47]:
df_employment

         Empl. Status      %
0  Full time employed  47.90
1             Student  16.60
2       Self-employed  10.50
3  Part time employed   9.30
4        Not employed   8.70
5             Retired   7.00

In [48]:
df_employment.columns

Index(['Empl. Status', '%'], dtype='object')

In [49]:
df_employment.iloc[0]['%']

'47.90'

In [50]:
print(f"""
The majority of the respondents ({(df_employment.iloc[0]['%'] + df_employment.iloc[2]['%'] + df_employment.iloc[3]['%']).round(2) }%)  
were in full-time, part-time or self-employed, ({(df_employment.iloc[4]['%'] + df_employment.iloc[5]['%'])}%) were either unemployed or retired, {df_employment.iloc[1]['%']}% were students.
""")

AttributeError: 'str' object has no attribute 'round'

In [53]:
float(df_employment.iloc[0]['%'])

47.9

In [60]:
print(f'''
The majority of the respondents ({((float(df_employment.iloc[0]['%']) + float(df_employment.iloc[2]['%']) + float(df_employment.iloc[3]['%']))) }%) 
were in full-time, part-time or self-employed, ({(float(df_employment.iloc[4]['%']) + float(df_employment.iloc[5]['%']))}%) 
were either unemployed or retired, {float(df_employment.iloc[1]['%'])}% were students.
''')

The majority of the respondents (67.7%)
were in full-time, part-time or self-employed, (15.7%)
were either unemployed or retired, 16.6% were students.