In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../cleaned_data_040321.csv')

In [14]:
df_gender = df[['Dem_gender']].copy()
df_gender = pd.DataFrame((df['Dem_gender'].value_counts(normalize=True).round(3))).reset_index()
df_gender.columns = ['Gender', '%']
df_gender = df_gender.replace({'Gender':'Other/would rather not say'},'Other')

In [15]:
df_gender

   Gender      %
0  Female  0.721
1    Male  0.269
2   Other  0.010

In [17]:
df_gender['%']=pd.Series(["{0:.2f}%".format(val * 100) for val in df_gender['%']], index = df_gender.index)

In [18]:
df_gender

   Gender       %
0  Female  72.10%
1    Male  26.90%
2   Other   1.00%