In [2]:
import pandas as pd

In [20]:
df = pd.read_csv('../raw_data/cleaned_data_040321.csv',index_col=0)

In [16]:
df[df.Country == 'Argentina'][['neu','ope','ext','agr','con']].mean()

neu    3.770379
ope    4.738109
ext    3.946652
agr    4.519399
con    4.730647
dtype: float64

In [21]:
df_print = pd.DataFrame(df[df.Country == 'Argentina'][['neu','ope','ext','agr','con']].mean()).reset_index()

In [22]:
df_print

  index         0
0   neu  3.770379
1   ope  4.738109
2   ext  3.946652
3   agr  4.519399
4   con  4.730647

In [23]:
df_print.columns = ['Trait', 'Score' ]

In [24]:
df_print

  Trait     Score
0   neu  3.770379
1   ope  4.738109
2   ext  3.946652
3   agr  4.519399
4   con  4.730647

In [25]:
df_print.Trait = ['Neuroticism','Openness', 'Extraversion', 'Agreeableness', 'Conscientiousness']

In [26]:
df_print

               Trait     Score
0        Neuroticism  3.770379
1           Openness  4.738109
2       Extraversion  3.946652
3      Agreeableness  4.519399
4  Conscientiousness  4.730647

In [27]:
df_print.to_dict('records')

[{'Trait': 'Neuroticism', 'Score': 3.7703786607908976},
 {'Trait': 'Openness', 'Score': 4.738108561928745},
 {'Trait': 'Extraversion', 'Score': 3.9466517438910653},
 {'Trait': 'Agreeableness', 'Score': 4.51939936588323},
 {'Trait': 'Conscientiousness', 'Score': 4.73064726720761}]

In [10]:
pd.DataFrame(df[df.Country == 'Argentina'][['neu','ope','ext','agr','con']].mean()).reset_index().to_dict('records')

[{'index': 'neu', 0: 3.7703786607908976},
 {'index': 'ope', 0: 4.738108561928745},
 {'index': 'ext', 0: 3.9466517438910653},
 {'index': 'agr', 0: 4.51939936588323},
 {'index': 'con', 0: 4.73064726720761}]

In [7]:
pd.DataFrame(df[df.Country == 'Argentina'][['neu','ope','ext','agr','con']].mean()).to_dict('records')

[{0: 3.7703786607908976},
 {0: 4.738108561928745},
 {0: 3.9466517438910653},
 {0: 4.51939936588323},
 {0: 4.73064726720761}]

In [18]:
df[['neu','ope','ext','agr','con']] = ['1','2','3','4','5']

In [19]:
df[['1','2','3','4','5']]

KeyError: "None of [Index(['1', '2', '3', '4', '5'], dtype='object')] are in the [columns]"