In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../raw_data/cleaned_data_040321.csv',index_col=0)

In [7]:
df[df.Country == 'Argentina'][['neu','ope','ext','agr','con']].mean()

neu    3.770379
ope    4.738109
ext    3.946652
agr    4.519399
con    4.730647
dtype: float64

In [8]:
df_print = pd.DataFrame(df[df.Country == 'Argentina'][['neu','ope','ext','agr','con']].mean()).reset_index()

In [9]:
df_print

  index         0
0   neu  3.770379
1   ope  4.738109
2   ext  3.946652
3   agr  4.519399
4   con  4.730647

In [14]:
df_print.columns = ['Trait', 'Score' ]

In [15]:
df_print

  Trait     Score
0   neu  3.770379
1   ope  4.738109
2   ext  3.946652
3   agr  4.519399
4   con  4.730647

In [17]:
df_print.Trait = ['Neuroticism','Openness', 'Extraversion', 'Agreeableness', 'Conscientiousness']

In [18]:
df_print

               Trait     Score
0        Neuroticism  3.770379
1           Openness  4.738109
2       Extraversion  3.946652
3      Agreeableness  4.519399
4  Conscientiousness  4.730647